.ie-rating-class {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: white;
}
.A {
    background: #4feb34;
}
.B {
    background: #cff593;
}
.C {
    background:#f5d01b;
}
.D {
    background: #f50707;
}

.container-home {
    padding: 1rem 1rem 0;
    margin: auto;
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    font-size: 1.5rem;
    padding: 1rem 0;
    align-self: flex-start;
}
.sub-title {
    font-size: 1.5rem;
    padding: 1rem 0;
}
.row {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.spacer {
    height: 2rem;
    width: 100%;
}