.outer-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    height: 100%;
}
.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 2rem;
}
.padding-container-login {
    width: 100%;
    padding: 1rem 0;
    max-width: 25rem;
    align-self: center;
}
.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
}

ion-img {
    margin: 1rem !important;
    width: 100% !important;
}