.outer-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    height: 100%;
}
.register-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 2rem;
}
.padding-container {
    width: 100%;
    padding: 1rem 0;
}
.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
}

.hide {
    display: none;
}